{%extends 'concerts_app/base.html'%}
{%block title%}
    Lista de conciertos
{%endblock%}
{%block content%}
<div class="row">
    <div class="col">
        <h2>Detalles del concierto de {{concierto.nombre}}</h2>
        <ul>
            <li>Tickets disponibles:{{concierto.boletos_disponibles}}</li>
            <li>Fecha:{{concierto.fecha}}</li>
            <li>Precio de entrada:{{concierto.precio_entrada}}</li>
            <li>Artista:{{concierto.artista_concierto}}<a href="{%url 'artista_detail' concierto.artista_concierto.pk%}">Más info del artista</a></li>
            <li>Ubicación:{{concierto.ubicacion_concierto}}</li>
            <li>Valoración: {{concierto.valoracion_media}}</li>
            {%if concierto.boletos_disponibles > 0%}

                <li>Comprar entradas: <a href="{%url 'comprar_entradas' concierto.pk%}">Click aquí para comprar entradas</a></li>
            {%else%}
                <li>Entradas agotadas...</li>
            {%endif%}
            {% if user.is_staff %}
            <li><a href="{%url 'concierto_update' concierto.pk%}">Editar</a></li>
            {%endif%}
            
        </ul>
</div>
{%endblock%}